@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    font-family: Sintony, sans-serif;
    font-size: 24px;
  }

  h1,
  h2,
  h3 {
    font-family: Catamaran, sans-serif;
    font-weight: bold;
  }

  /* input[type='radio'] {
    display: none;
    cursor: pointer;
  }

  input[type='radio']:checked + label {
    background: '#E35A5A';
    color: white;
  } */

  label {
    display: inline-block;
    padding: 16px;
    border: 2px solid #e35a5a;
    color: #e35a5a;
    border-radius: 50px;
    cursor: pointer;
  }

  input[type='radio']:checked + label {
    background: #e35a5a;
    color: white;
  }

  .title-1 {
    font-size: 36px;
  }

  .title-2 {
    font-size: 48px;
    line-height: 54px;
  }

  .navbar {
    font-family: Catamaran, sans-serif;
    font-weight: normal;
  }

  .box-shadow {
    filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.25));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
